<%= div_for @comment do |c| %>
        <p>
                <strong>
                        Posted <%= time_ago_in_words(comment.created_at) %> ago
                </strong>
                <br/>
                <%= c.text_comment %>
        </p>
<% end %>