<div class ="posts_container">
<h1>All My Posts!</h1>
<p>I've got <%= @posts.count %> counts</p>

<% @posts.each do |p| %>
  <ul>
    <li>
      <%= link_to post_path p do %>
        <strong><%= p.blog_content %>'s burrito.  Don't touch!!!</strong>
        <% end %>
    </li>
  </ul>
<% end %>
</div>