<div class ="posts_container">
<h1>Recommend Something</h1>
<p>I've got <%= @posts.count %> counts</p>

<% @posts.each do |p| %>
  <ul>
    <li>
      <%= link_to post_path p do %>
        <%= p.blog_content %>
        <% end %>
    </li>
  </ul>
<% end %>
</div>