<div class ="posts_container">
<h1>Recommend Something</h1>
<h4><%= pluralize(@posts.count, "post") %> need recommendations</h4>
<% @posts.each do |p| %>
  <ul>
    <li>
    <div class="headline_posts">
      <%= link_to post_path p do %>
        <strong>
	        	<%= p.headline %>
            <% end %> <br /> 
        </strong>  
    </div>
      
    </li>
  </ul>
<% end %>
</div>