<div class="postshow_container">
	<h1><%= @post.headline %></h1>
    <div class="blogpost">
  	<%= @post.blog_content %>
  	<%= image_tag @post.picture.url %>
    </div>
	<%= link_to "Edit your post", edit_post_path(@post) %>
</div>