/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap";
.nav, .navbar-brand, .login_container, .new_user_container, .welcome_container,
.userindex_container, .usershow_container, .signup_container, .post_comments
{
	font-family: 'Poiret One', cursive;
}

.posts_container, .newpost_container, 
 .userindex_container, .usershow_container, .new_user_container
{
	margin: 60px auto 0;
}

.usershow_container ul li
{
	list-style-type: none;
}

.usershow_container 
{
	text-align: center;
	width: 400px;
	margin-top: 100px;
}

.userinfo 
{
	font-size: 24px;
	font-weight: bolder;
}

.usershow_container h1 
{
	font-size: 40px;
	font-weight: bolder;
}

.posts_container 
{
	text-align: center;
	height: 500px;
	overflow: scroll;
}

.posts_container ul li
{
	list-style-type: none;
}

.posts_container a:hover
{
	text-decoration: none;
}

.headline_posts
{
	font-size: 24px;
	color: black;
}

.newpost_container
{
	height: 450px;
	width: 450px;
}

.signup_container 
{
	height: 570px;
	width: 450px;
	overflow: scroll;
}

.newheader {
	margin: 65px auto;
}


.login_container
{
	height: 450px;
	width: 300px;
	margin: 30px auto 0;
	background-color: white;
	padding: 30px;
	text-align: center;
}

.new_user_container
{	
	margin-left: 20px;
	height: 500px;
	overflow: scroll;

		.header
		{
			margin: 80px auto;
		}
		
		.signup_container
		{	
			margin-top: -60px;
			background-color: white;
			padding: 20px;
		}
}

.welcome_container
{
	margin: 80px auto;
	text-align: center;
	font-size: 220px;
}

.postshow_container
{
	padding-top: 15px;
	width: 540px;
	height: 540px;
	overflow: scroll;
	border: 20px solid black;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 25px;
	margin: 70px auto 0;
}

.headline_posts 
{
	color: blue;
	background-color: #94D3B5;
	border: 2px double black;
	border-radius: 15px;
	padding: 5px;
	overflow: scroll;
}

.headline_posts a:hover {
	color: #8A5CE6;
	font-size: 30px;
}

.headline_posts a:link {
	color: black;
}

.comments_container 
{
	clear:both;
}

.post_comments
{
	clear:both;
	overflow: scroll;
}

.blogpost
{
	width: 460px;
	margin: 0 auto;
	margin-right: 30px;
}

.blog_text 
{
	font-size: 24px;
	font-weight: bolder;
}

.blogpost h1
{
	text-align: center;
	font-size: 55px;
	margin-left: 10px;
}

.blog_image 
{
	width: 460px;
	margin: 0 auto;
}

.blog_image img
{	
	margin: 0 auto;
	width: 460px;
	height: auto;
	border: 1px solid black;
}

.blog_text
{
	width: 460px;
	margin: 65px auto;
}

.view_container, .edit_container, .delete_container
{
	float: right;
}

.edit_container, .delete_container
{
	margin-right: 20px;
}

.crud_links_container, .blog_text, .comments_container  
{
	position: relative;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
}

.navbar-inverse
{
	background-color: #94D3B5;
}

.navbar-inverse .navbar-brand
{
	color: black;
}

.navbar-inverse .navbar-nav > li > a 
{
	color: black;
	font-weight: bold;
	font-size: 17px;
}

.navbar 
{
	height: 55px;
}

.navbar-collapse 
{
	background-color:#94D3B5;
	position: relative;
}

footer
{
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	text-align: center;
	border-top: 1px solid black;
	position:fixed;
	padding-top: 5px;
    height:50px;
    background-color:#94D3B5;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
