/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap";
.nav, .navbar-brand, .login_container, .new_user_container, .welcome_container,
.userindex_container, .usershow_container
{
	font-family: 'Poiret One', cursive;
}

.posts_container, .postshow_container, .newpost_container, 
.welcome_container, .userindex_container, .usershow_container
{
	margin: 60px auto 0;
}

.posts_container ul li
{
	list-style-type: none;
}

.newpost_container
{
	height: 450px;
	width: 450px;
}

.login_container
{
	height: 450px;
	width: 300px;
	margin: 30px auto 0;
	background-color: white;
	padding: 30px;
	text-align: center;
}

.new_user_container
{	
	margin-left: 20px;

		.header
		{
			margin: 80px auto;
		}
		
		.signup_container
		{	
			margin-top: -60px;
			background-color: white;
			padding: 20px;
		}
}

.welcome_container
{
	text-align: center;
	font-size: 220px;
}

.postshow_container
{
	width: 500px;
	height: 500px;
	overflow: scroll;
}

.blogpost
{
	height: 200px;
	width: 300px;
	margin: 0 auto;
}

.blogpost h1
{
	text-align: center;
}

.blog_image img
{
	width: 100%;
	height: auto;
}